src/main/mule/ci-cdmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c856771b-cb54-4491-baf6-d5376bda2969" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="ci-cdmuleFlow" doc:id="abd8320f-594d-44a4-a5f0-a6a25fb4f48e" >
		<http:listener doc:name="Listener" doc:id="ba3963cf-740f-4eac-948d-a7526888e851" config-ref="HTTP_Listener_config" path="/ci-cdmule"/>
		<logger level="INFO" doc:name="Logger" doc:id="592756b6-c4c4-4d52-8e19-69567eed5dbd" message="flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="9dccbf3b-9ac6-4a66-914c-6792777716d7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "ci-cd deployed successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f50ca6db-1f92-4e07-ba76-d00ecffefcd9" message="#[payload]"/>
	</flow>
</mule>
